$font-style: 'Poppins', sans-serif;
$font-style-2: 'Rubik', sans-serif;

// background
$bg-main: #F8F8F8;

// primary
$primary-main: #41A0E4;
$primary-hover: #104e7a;

// success
$sucess-main: #479F77;
$sucess-hover: #1f724d;

// danger
$danger-main: #D83A56;
$danger-hover: #ac2a41;

// warning
$warning-main: #EC9024;
$warning-main: #885316;

// red
$red-1: #923B28;

// blue
$blue-1: #E4FDFF;
$blue-2: #C2D6FF;
$blue-3: #ADC9FF;
$blue-4: #454C75;

// brown
$brown-1: #EEE9E9;
$brown-2: #EEE9E9;

// gray
$gray-1: #D6D6D6;

// neutral
$neutral-10: #ffffff;
$neutral-20: #EFF2F5;
$neutral-30: #E4E9EE;
$neutral-40: #D7DEE5;
$neutral-50: #AEBCCB;
$neutral-60: #919DA9;
$neutral-70: #747D87;
$neutral-80: #575E66;
$neutral-90: #3A3F44;
$neutral-100: #232629;