$font-style: 'Playfair Display', sans-serif;
$font-style-2: 'Poppins', sans-serif;

// primary
$primary-main: #41A0E4;
$primary-hover: #104e7a;

// red
$red-1: #923B28;

// blue
$blue-1: #E4FDFF;

// brown
$brown-1: #EEE9E9;
$brown-2: #EEE9E9;

// gray
$gray-1: #D6D6D6;

// neutral
$neutral-10: #ffffff;
$neutral-20: #EFF2F5;
$neutral-30: #E4E9EE;
$neutral-40: #D7DEE5;
$neutral-50: #AEBCCB;
$neutral-60: #919DA9;
$neutral-70: #747D87;
$neutral-80: #575E66;
$neutral-90: #3A3F44;
$neutral-100: #232629;